<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{MM/dd HH:mm:ss} %-5level %logger{1} - %msg%n%replace(%xException){'\n',' | '}%nopex</pattern>
        </encoder>
        <target>System.out</target>
<!--        <encoder class="net.logstash.logback.encoder.LogstashEncoder">-->
<!--            <jsonGeneratorDecorator class="net.logstash.logback.mask.MaskingJsonGeneratorDecorator">-->
<!--                <defaultMask>***</defaultMask>-->
<!--                &lt;!&ndash;Mask self-exclusion&ndash;&gt;-->
<!--                <values>.*You do not have.*.permission Reason: self-excluded.*</values>-->
<!--            </jsonGeneratorDecorator>-->
<!--        </encoder>-->
    </appender>
<!--    <appender name="newrelicError" class="com.unity.newrelic.appender.NewRelicNoticeErrorAppender">-->
<!--        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
<!--            <level>ERROR</level>-->
<!--        </filter>-->
<!--        <encoder class="net.logstash.logback.encoder.LogstashEncoder">-->
<!--            <jsonGeneratorDecorator class="net.logstash.logback.mask.MaskingJsonGeneratorDecorator">-->
<!--                <defaultMask>***</defaultMask>-->
<!--                &lt;!&ndash;Mask username/email&ndash;&gt;-->
<!--                <path>username</path>-->
<!--            </jsonGeneratorDecorator>-->
<!--        </encoder>-->
<!--    </appender>-->
<!--    <appender name="newrelicCustom" class="com.unity.newrelic.appender.NewRelicCustomEventAppender">-->
<!--        <filter class="ch.qos.logback.classic.filter.LevelFilter">-->
<!--            <level>INFO</level>-->
<!--            <onMismatch>DENY</onMismatch>-->
<!--        </filter>-->
<!--        <filter class="ch.qos.logback.classic.filter.LevelFilter">-->
<!--            <level>INFO</level>-->
<!--            <onMatch>ACCEPT</onMatch>-->
<!--        </filter>-->
<!--        <encoder class="net.logstash.logback.encoder.LogstashEncoder">-->
<!--            <jsonGeneratorDecorator class="net.logstash.logback.mask.MaskingJsonGeneratorDecorator">-->
<!--                <defaultMask>***</defaultMask>-->
<!--                &lt;!&ndash;Mask username/email&ndash;&gt;-->
<!--                <path>username</path>-->
<!--            </jsonGeneratorDecorator>-->
<!--        </encoder>-->
<!--    </appender>-->

    <logger name="akka" level="${LOG_LEVEL:-INFO}"/>
    <logger name="com.williamhill.self_exclusion_ep" level="${LOG_LEVEL:-INFO}"/>
    <logger name="org.apache.kafka" level="${LOG_LEVEL:-INFO}"/>
    <logger name="io.confluent.kafka.schemaregistry" level="${LOG_LEVEL:-INFO}"/>
    <logger name="sttp.client3" level="${LOG_LEVEL:-INFO}"/>

    <!--  TODO: [UNITY-2424] Turning these loggers off for the time being as the logs get noisy when there are network issues reaching new-relic  -->
    <logger name="kamon.module.ModuleRegistry" level="OFF"/>
    <logger name="com.newrelic.telemetry.transport.BatchDataSender" level="OFF"/>

    <root level="${LOG_LEVEL:-INFO}">
        <appender-ref ref="CONSOLE"/>
<!--        <appender-ref ref="newrelicError"/>-->
<!--        <appender-ref ref="newrelicCustom"/>-->
    </root>

</configuration>